@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Background */
  --color-surface: #ffffff;
  --color-layer: #1f2937;

  /* Border */
  --color-line: #e5e7eb;

  /* Foreground */
  --color-ink: #111827;
  --color-ink-inverse: #ffffff;

  /* Font Families */
  --font-sans:
    'NotoSansTC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', sans-serif;

  --font-serif: 'NotoSerifTC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer theme {
  * {
    @variant dark {
      --color-surface: #1f2937;
      --color-layer: #1f2937;
      --color-line: #374151;
      --color-ink: #ffffff;
    }
  }
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: var(--text-2xl);
  }
}

@layer components {
}

@layer utilities {
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSerifTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSerifTC-Bold.woff2') format('woff2');
}
