@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSerifTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSerifTC-Bold.woff2') format('woff2');
}

@theme inline {
  /* 主體內容背景 */
  --color-base: #ffffff;
  --color-base-dark: #1f2937;

  /* header / footer 背景 */
  --color-footer: #1f2937; /* light mode header/footer 反色 */
  --color-footer-dark: #1f2937; /* dark mode header/footer 使用 base */

  /* 分隔線 / border */
  --color-divider: #e5e7eb; /* light mode border */
  --color-divider-dark: #374151; /* dark mode border */

  --font-sans:
    'NotoSansTC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', sans-serif;

  --font-serif: 'NotoSerifTC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

:root {
  --color-base-current: var(--color-base);
  --color-footer-current: var(--color-footer);
  --color-divider-current: var(--color-divider);
}

.dark {
  --color-base-current: var(--color-base-dark);
  --color-footer-current: var(--color-footer); /* header/footer 直接用 base */
  --color-divider-current: var(--color-divider-dark);
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-weight: 400;
  }

  h1 {
    font-size: var(--text-lg);
  }
}

@layer components {
}

@layer utilities {
  /* 主體內容背景 */
  .bg-base {
    background-color: var(--color-base-current);
  }

  /* header/footer 背景 */
  .bg-footer {
    background-color: var(--color-footer-current);
  }

  /* 分隔線 / border */
  .border-divider {
    border-color: var(--color-divider-current);
  }
}
