@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Background */
  --color-surface: #ffffff;
  --color-layer: #1f2937;

  /* Border */
  --color-line: #3d3d3d;

  /* Foreground */
  --color-ink: #000000;
  --color-ink-muted: #5c5c5c;
  --color-ink-layer: #dde2e3;

  /* Font Families */
  --font-sans:
    'NotoSansTC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', sans-serif;

  --font-serif: 'NotoSerifTC', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

@layer theme {
  * {
    @variant dark {
      --color-surface: #1f2937;
      --color-layer: #1d2734;
      --color-line: #d9d9d9;
      --color-ink: #ffffff;
      --color-ink-muted: #999999;
      --color-ink-layer: #dde2e3;
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    font-family: var(--font-sans);
    font-weight: 400;
    color: var(--color-ink);
    border-color: var(--color-line);
    transition: all 0.3s ease-in;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-serif);
  }

  h1 {
    font-size: var(--text-3xl);
  }
  h2 {
    font-size: var(--text-2xl);
  }
}

@layer components {
  .nav-link {
    font-family: var(--font-sans);
    color: var(--color-ink-muted);
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    @variant hover {
      color: var(--color-ink);
    }

    @variant after {
    }
  }
}

@layer utilities {
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSansTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSansTC-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NotoSerifTC';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/NotoSerifTC-Bold.woff2') format('woff2');
}
